# files
alias f='tree -LCFhfla 1 --dirsfirst'
alias l='ls -lapGho'
alias rd='rm -rf'
alias b='cd ..'

# travelling
alias d='dirs -v'

# history
alias h='history'

# git
alias g='git'
alias gcb='git checkout -b'

# rails
alias rg='rails g'

# tmux
alias tx='tmux new -s'
alias txls='tmux list-sessions'
alias txat='tmux attach-session -t'

# other
alias scheme='echo $bg_no_bold'

# mem
alias fit='du -sh'
alias used='du -chd 1 | sort -h | head -10'
alias fatest='du --max-depth=10 . | sort -n'

# docker
alias dcom='docker-compose'
alias dall='docker container ls --all'
